:root {
    --color: #27c7ab;
}

* {
    box-sizing: border-box;

}

body {
    font-family: 'Raleway', Tahoma, Arial, sans-serif;
}

.container {
    max-width: 1055px;
    margin: 0 auto;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}


.row {
    display: flex;
    justify-content: space-between;
}


.section_title {
    font-size: 22px;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 78px;
    margin-top: 45px;
}

.section_title::after {
    content: "";
    width: 320px;
    height: 7px;
    background: var(--color);
    display: flex;
    margin-top: 5px;
}


.btn {
    background: var(--color);
    color: #fff;
    border-radius: 10px;
    border: 0;
    padding: 15px 45px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    outline: none;
}

.btn:hover {
    background: #27b499;
}


.page_header {
    height: 40px;
    background: #000;
    position: relative;
    z-index: 10000;
}

.page_header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.page_logo {
    margin: 0;
    display: flex;
    align-items: center;
}

.page_logo_link {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.page_logo_link span {
    color: var(--color);
    font-weight: 700;

}



.page_nav_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.page_nav_list_el {
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_nav_list_link {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    /*color: #fff;   */
    color: red;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 0px 20px 33px;
    transition: 0.3s color;
}

.page_nav_list_link:hover {
    color: var(--color);
}

.page_nav_list_el:nth-child(2) a {
    padding-left: 50px;
}

.page_nav_sublist::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #000;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
}

.page_nav_sublist::after {
    content: "";
    width: 100%;
    height: 12px;
    background: transparent;
    position: absolute;
    left: 0;
    top: -12px;
}


.page_nav_sublist {
    background: #000;
    position: absolute;
    top: calc(100% + 12px);
    left: calc(50% + 20px);
    transform: translate(-50%);
    margin: 0;
    padding: 10px 15px;
    list-style: none;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s opacity;
}

.page_nav_list_el:hover .page_nav_sublist {
    opacity: 1;
    visibility: visible;
}

.page_nave_sublist_el {
}

.page_nav_sublist_link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 3px;
}

.main_slider_bg {
    background: linear-gradient(#ffffff, #dddddd);
}

.slider {
    height: 505px;
    display: flex;
}

.slider_prev,
.slider_next {
    width: 50px;
    border: 0;
    background: none;
    color: var(--color);
    font-size: 70px;
    cursor: pointer;
    outline: none;
}

.slider_prev:focus,
.slider_next:focus {
    color: #000000;
}

.slider_next {
    order: 1
}

.slider_slides {
    flex-grow: 1;
    position: relative;
}

.slider_slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s opacity;
    opacity: 0;
}

.slider_slide_active {
    opacity: 1;
    z-index: 1;
}


/* slajdy*/
.slider_slide {
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider_slide_img_cnt {
    width: 400px;
    height: 350px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.slider_slide_img {
    width: 100%;
    height: auto;
}

.slider_slide:nth-child(3) .slider_slide_img {
    width: 90%;
    height: auto;
}
.slider_slide:nth-child(3) .slider_slide_img_cnt{
    margin-top: 10px;
}
.slider_slide_text {
    flex-grow: 1;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 95px;
    height: 350px;
    text-align: center;
}




.slider_slide_text h1,
.slider_slide_text h5 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 60px;
}



.slider_slide_text span {
    color: var(--color);
    font-weight: 700;

}

.slider_slide_text p {
    font-size: 13px;
    line-height: 22px;
}

.slider_slide .btn {
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 22px;
    font-weight: 600;
}

/*sekcja 1 chairs*/
.chairs {
    margin-bottom: 67px;
}

.box {
    position: relative;
    margin-top: 28px;
}

.box_title {
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: 16px;
    color: black;
    height: 60px;
    width: 100%;
    background-color: rgba(230, 230, 230, 0.4);
    padding-left: 15px;
    padding-top: 15px;
}

.box_title span {
    text-transform: uppercase;
}


.box_title ::after {
    content: "";
    width: 138px;
    height: 7px;
    background: var(--color);
    display: block;
}


.box_article {
    width: 345px;
    height: 255px;
    border: 1px solid #DBDBDB;
    margin-top: 28px;
    padding: 10px 25px;
    font-size: 14px;
    line-height: 1.4em;
}

.box_article_title {
    font-size: 16px;
    color: black;
}

.box_article_title::after {
    content: "";
    width: 138px;
    height: 7px;
    background: var(--color);
    display: flex;

}

.box_article p:nth-of-type(2) {
    margin-top: 26px;
}


/*2 sekcja price*/

.price {
    background-color: #F1F1F1;
    overflow: hidden;
}

.price_box,
.price_box--green {
    position: relative;
    width: 330px;
    height: 500px;
    border: 2px solid #D5D5D5;
    background-color: #F9F9F9;
    text-align: center;
    margin-bottom: 65px;
}

.price_box_title {
    text-transform: uppercase;
    font-size: 22px;
    color: var(--color);
    font-weight: 600;
    margin-top: 26px;
}

.price_box_cnt {
    width: 130px;
    height: 130px;
    border: 2px solid #D5D5D5;
    border-radius: 50%;
    color: #C2C2C2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #FFFFFF;
    margin: 0 auto 32px;
}

.price_box_cnt p:nth-child(1) {
    font-size: 42px;
    margin: 0 0 5px 5px;
}

.price_box_cnt span {
    font-size: 16px;
    vertical-align: text-top;
}

.price_box_cnt p:nth-child(2) {
    margin: 0;
    text-transform: uppercase;
}

.price_box_paragraph_first,
.price_box_paragraph_second,
.price_box_paragraph_third,
.price_box_paragraph_fourth {
    margin: 0px;
    font-size: 24px;
    color: #939393;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price_box_paragraph_first,
.price_box_paragraph_third {
    background-color: #E4E4E4;
}

.price_box_paragraph_second,
.price_box_paragraph_fourth {
    background-color: #F1F1F1;
}

.price_box_btn {
    position: absolute;
    bottom: 18px;
    left: calc(50% - 60px);
    padding: 0px;
    height: 35px;
    width: 120px;
}

.price_box--green {
    background-color: var(--color);
    border-color: var(--color);
}

.price_box--green .price_box_title {
    color: #ffffff;
}

.price_box--green .price_box_cnt {
    color: var(--color);
    border: 2px solid var(--color);
}

.price_box--green .price_box_paragraph_first,
.price_box--green .price_box_paragraph_third {
    background-color: #FFFFFF;
}

.price_box--green .price_box_btn {
    background-color: #ffffff;
    color: var(--color);
}

.price_box--green .price_box_btn:hover {
    background-color: #e8e8e8;
}

.price_box::after,
.price_box--green::after {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: "";
    width: 54px;
    height: 54px;
    border-radius: 50%;

}

.price_box::after {
    background-color: #C2C2C2;
    border: 2px solid #C2C2C2;
    box-shadow: inset 0 0 0 15px #ffffff;

}

.price_box--green::after {
    background-color: var(--color);
    border: 2px solid var(--color);

}
.price_box--green::before {
    display: block;
    content: "";
    position: absolute;
    top: -25px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: calc(58px - 30px);
    height: calc(58px - 30px);
    background-color: #ffffff;
    border-radius: 50%;

}
/*formularz*/

.main_contact .section_title {
    margin-top: 32px;
    margin-bottom: 48px;
}

.form {
    display: flex;
    justify-content: space-between;
}

.form_left {
    width: 635px;
}

.form_right {
    width: 360px;
}

.form_row {
    margin-bottom: 26px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    height: 65px;
    border: 1px solid var(--color);
    width: 100%;
    padding: 0 15px;
    font-size: 33px;
    font-weight: 200;
    outline: none;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
    box-shadow: inset 0 0 0 1px var(--color);
}

.form input[type="text"]::placeholder,
.form input[type="email"]::placeholder,
.form textarea::placeholder {
    color: #aaa;
}

.form textarea {
    padding: 15px;
    height: 190px;
    resize: none;
}

.form_img {
    height: 210px;
    background-image: url("../images/red_chair.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -30px;
    margin-right: 70px;
}

.form_checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 35px 0 38px;
}


.form_checkbox input + .form_checkbox_mark {
    width: 48px;
    height: 48px;
    border: 1px solid var(--color);
    display: block;
    flex-shrink: 0;
    margin-right: 10px;
}

.form_checkbox input:checked + .form_checkbox_mark {
    background-image: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.form_checkbox_text {
    color: #aaa;
    font-size: 20px;
}


.form_submit {
    font-size: 34px;
    font-weight: bold;
    height: 70px;
    width: 100%;
}



/*footer*/

.footer {
    margin-bottom: 45px;
    margin-top: 50px;
    color: #9B9B9B;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_copyright {
    letter-spacing: 1px;
    font-size: 15px;
}

.footer_socials_logo {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 355px;
}
.footer_socials{
    display: flex;
}
.footer_socials_flickr{
    background-image: url("../images/flickr.png");
    width: 35px;
    height: 35px;
    display: block;
    margin-right: 3px;
}
.footer_socials_vimeo {
    background-image: url("../images/vimeo.png");
    width: 35px;
    height: 35px;
    display: block;
    margin-right: 3px;
}
.footer_socials_pinterest {
    background-image: url("../images/pinterest.png");
    width: 35px;
    height: 35px;
    display: block;
    margin-right: 3px;
}
.footer_socials_twitter {
    background-image: url("../images/twitter.png");
    width: 35px;
    height: 35px;
    display: block;
}

.footer_logo .page_logo_link,
.footer_logo .page_logo_link span {
    color: #9B9B9B;
    font-size: 20px;
    letter-spacing: 1px;
}

