.footer {
  margin-bottom: 45px;
  margin-top: 50px;
  color: #9B9B9B;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_copyright {
  letter-spacing: 1px;
  font-size: 15px;
}

.footer_socials_logo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 355px;
}

.footer_socials {
  display: flex;
}

.footer_socials_flickr {
  background-image: url("../../images/flickr.png");
  width: 35px;
  height: 35px;
  display: block;
  margin-right: 3px;
}

.footer_socials_vimeo {
  background-image: url("../../images/vimeo.png");
  width: 35px;
  height: 35px;
  display: block;
  margin-right: 3px;
}

.footer_socials_pinterest {
  background-image: url("../../images/pinterest.png");
  width: 35px;
  height: 35px;
  display: block;
  margin-right: 3px;
}

.footer_socials_twitter {
  background-image: url("../../images/twitter.png");
  width: 35px;
  height: 35px;
  display: block;
}

.footer_logo .page_logo_link,
.footer_logo .page_logo_link span {
  color: #9B9B9B;
  font-size: 20px;
  letter-spacing: 1px;
}

